.info, .info__perfil .padre__info__descripcion, main .portada, main .carta .card .card-body .carta-boton, main .carta, .fondo-fotos .carrosa-centrar, main .fondo {
  display: flex;
  justify-content: center;
}

.quienes .quienes-titulo, main .carta .card .card-body, .fondo-fotos .fondo-fotos-texto {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
}

/* estilos generales*/
h2 {
  font-family: "Roboto", sans-serif;
  color: rgb(3, 3, 3);
}

li p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

p {
  color: rgb(2, 2, 2);
  font-size: 25px;
}

ul {
  list-style: none;
}

table {
  background-color: "Roboto", sans-serif;
}

h4 {
  font-weight: bold;
  color: black;
  font-size: 15px;
}

/* header*/
header .nav-titulo {
  display: flex;
  flex-direction: row;
  width: 200px;
  gap: 10px;
  font-size: 20px;
}
header .borde {
  border-left: 1px black solid;
}
header .nav-logo {
  margin-top: 3px;
}
header .header-color {
  background-color: rgb(116, 178, 191);
}
header .nav-post {
  background-color: white;
}

/* footer */
.foot {
  display: block;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px black solid;
}
footer p {
  font-size: 12px;
  margin-right: 10px;
}
footer ul {
  margin-left: 10px;
}

/* index */
main .fondo {
  background-image: url(../imagenes/fondo-nuevo.jpg);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  align-items: flex-start;
}
main .fondo h1 {
  margin-top: 40px;
}
main .fondo .titulo {
  font-size: 50px;
  font-family: "Anton", sans-serif;
}
main .color__bienvenido {
  background-color: rgb(116, 178, 191);
}
main .intro__presentacion {
  font-size: 28px;
  border-radius: 5px;
  text-align: center;
}
main .bienvenido {
  border-radius: 5px;
  padding: 5px;
  font-size: 40px;
  background-color: rgb(235, 145, 137);
}

.fondo-fotos {
  background-image: url(../imagenes/lindo-fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  background-attachment: fixed;
}
.fondo-fotos .fondo-fotos-texto {
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}
.fondo-fotos .carrosa-tamano {
  height: 322px;
  width: 500px;
}
.fondo-fotos .fotoperfil {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

/* matematicas */
main .mate {
  background-image: url(../imagenes/fondo-matematicas.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px;
  max-width: 100vw;
  max-height: 100vh;
  background-position: center;
}
main .mate .mate-textos {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
main .mate .mate-textos .mate__titulo {
  font-size: 60px;
  text-align: center;
  margin-bottom: 25px;
  margin-left: 400px;
}
main .mate .mate-textos .mate__subtitulo {
  text-align: center;
  margin-left: 400px;
}
main .carta {
  padding: 20px;
  background-color: rgb(116, 178, 191);
  height: 620px;
  max-height: 620px;
}
main .carta .card {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
}
main .carta .card .card-body {
  align-items: center;
}
main .carta .card .card-body .carta-nombre {
  font-size: 30px;
}
main .carta .card .card-body .carta-texto {
  font-size: 20px;
}
main .carta .card .card-body .carta-boton {
  background-color: rgb(246, 171, 152);
  width: 140px;
  height: 50px;
  border-radius: 10px;
}

/* perfil */
main {
  background-image: url(../imagenes/fondo-mobile-perfil.avif);
  background-attachment: fixed;
}
main .portada {
  background-image: url(../imagenes/fondo-mat.jpg);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 20px;
}
main .portada .portada__nombre {
  background-color: aliceblue;
  margin: 10px;
  border-radius: 5px;
}
main .portada .portada__fotoperfil {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

section .carrusel-perfil {
  display: none;
}

.fotos {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
.fotos .fotos__clase {
  margin: 10px;
  height: 200px;
  width: 300px;
}

.info__perfil {
  display: flex;
  gap: 20%;
}
.info__perfil .padre__info__descripcion {
  align-items: center;
  width: 360px;
  height: 300px;
  margin-top: 50px;
}
.info__perfil .padre__info__descripcion .info__descripcion {
  background-color: aliceblue;
  border: 3px solid black;
  padding: 10px;
  border-radius: 5px;
}
.info__perfil .iframe-perfil-media {
  border: 3px solid black;
  border-radius: 20px;
  height: 400px;
  width: 600px;
  margin-left: 10px;
}

.info {
  gap: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.info .mobile-imagen-redes {
  width: 60px;
  height: 60px;
}

/* postulate */
.postulate-main {
  padding: 100px;
  background-image: url(../imagenes/fondo-psotulate.jpg.png);
  background-size: cover;
  background-attachment: unset;
}
.postulate-main .titulo-postulate {
  padding-bottom: 30px;
  width: 600px;
  font-family: "Roboto", sans-serif;
}
.postulate-main .form {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.postulate-main .form .certificado-postulate {
  padding-bottom: 20px;
}

/* quienes somos*/
.quienes {
  background-image: url(../imagenes/fondo-nuestra.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.quienes .mobile__historia {
  display: none;
}
.quienes .quienes-titulo {
  background-color: rgb(116, 178, 191);
}
.quienes .quienes-titulo .texto-mobile-titulo {
  display: none;
}
.quienes .imagen-lado {
  display: flex;
  gap: 200px;
}
.quienes .imagen-lado .flex-img {
  display: flex;
  flex-direction: column;
  gap: 22%;
  padding-top: 150px;
  padding-left: 100px;
}
.quienes .imagen-lado .img-size {
  width: 300px;
  height: 300px;
  border-radius: 100px;
}
.quienes .imagen-lado .historia {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.quienes .imagen-lado .historia .texto {
  background-color: aliceblue;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 550px;
  height: 250px;
}
.quienes .imagen-lado .historia .alineado {
  align-content: center;
}
.quienes .imagen-lado .historia .alineado .foto {
  width: 550px;
  height: 400px;
  border-radius: 50px;
}
.quienes .imagen-lado .historia .year {
  font-size: 100px;
}

@media only screen and (max-width: 576px) {
  /* footer*/
  footer {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 30px 1fr 60px;
    grid-gap: 5px;
  }
  footer iframe {
    margin-top: 10px;
    grid-row: 1;
  }
  footer .wtsig {
    grid-row: 2;
  }
  footer ul {
    grid-row: 3;
  }
  footer p {
    grid-row: 4;
  }
  /*header*/
  header .borde {
    border: 0px;
  }
  /*index*/
  .intro__presentacion {
    display: none;
  }
  .fondo {
    max-height: 200px;
    background-position: center;
  }
  .fondo h1 {
    font-size: 20px;
  }
  .carousel {
    width: 450px;
  }
  .carousel-item img {
    max-height: 380px;
    border: 1px solid black;
  }
  .descripcion {
    display: none;
  }
  .tamano-carrusel {
    width: 600px;
  }
  /*matematicas*/
  main .mate {
    padding: 50px;
  }
  main .mate .mate-textos {
    padding-bottom: 25px;
  }
  main .mate .mate-textos .mate__titulo {
    font-size: 30px;
    margin-left: 120px;
    margin-top: 20px;
    text-align: center;
  }
  main .mate .mate-textos .mate__subtitulo {
    display: none;
  }
  /*postulate*/
  .form {
    max-width: 100vw;
    text-align: center;
  }
  .postulate-main {
    background-image: url(../imagenes/fondo-mobile-postulate.jpg.png);
    background-attachment: unset;
    padding-left: 0px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .postulate-main .titulo-postulate {
    background-color: aliceblue;
    padding: 0px;
    max-width: 100%;
    text-align: center;
    margin-left: 50px;
  }
  /*perfil*/
  .fondo-mobile-perfil {
    background-image: url(../imagenes/fondo-mobile-perfil.avif);
    background-attachment: fixed;
  }
  .fondo-mobile-perfil .perfil__mobile__portada {
    background-attachment: fixed;
  }
  .grilla-perfil-media {
    display: flex;
    flex-direction: column;
  }
  .grilla-perfil-media .fotos {
    display: none;
  }
  .grilla-perfil-media .carrusel-perfil {
    display: block;
    padding-top: 20px;
  }
  .grilla-perfil-media .carrusel-perfil .carousel-item {
    width: 300px;
    height: 300px;
  }
  .grilla-perfil-media .carrusel-perfil .carousel-item .nena {
    height: 270px;
    width: 360px;
  }
  .grilla-perfil-media .carrusel-perfil .carousel-item img {
    max-width: 100vw;
  }
  .grilla-perfil-media .info__perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  .grilla-perfil-media .info__perfil .iframe-perfil-media {
    width: 300px;
    height: 248px;
    padding-left: 0px;
  }
  .grilla-perfil-media .info__perfil .padre__info__descripcion {
    border: 1px solid black;
    background-color: aliceblue;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
  }
  .grilla-perfil-media .info__perfil .padre__info__descripcion .info__descripcion {
    font-size: 16px;
    margin-bottom: 5px;
    word-wrap: break-word;
  }
  .grilla-perfil-media .info {
    display: flex;
    padding: 0px;
    gap: 50px;
    padding-bottom: 20px;
  }
  .grilla-perfil-media .info .mobile-imagen-redes {
    background-color: aliceblue;
    display: block;
    width: 45px;
    height: 45px;
  }
  .grilla-perfil-media .info .info__redes {
    display: none;
  }
  /*nuestra historia*/
  .quienes .quienes-titulo .texto.mobile-titulo {
    display: block;
  }
  .quienes .imagen-lado {
    display: none;
  }
  .quienes .historia {
    display: none;
  }
  .quienes .mobile__historia {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .quienes .mobile__historia .year-mobile {
    font-size: 60px;
    background-color: rgb(116, 178, 191);
    border-radius: 100%;
  }
  .quienes .mobile__historia .foto-mobile {
    width: 250px;
    height: 250px;
    border-radius: 100%;
  }
  .quienes .mobile__historia .texto-mobile {
    border: 2px solid black;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
