/* quienes somos*/

.quienes{
    background-image: url(../imagenes/fondo-nuestra.jpg);
    background-size: map-get($backgr , b-z );
    background-repeat: map-get($backgr, b-r );
    background-attachment: fixed;
    text-align: center;

    .mobile__historia{
        display: none;
    }

    .quienes-titulo{
        background-color: $color-primario;
        @extend %flex-centrado-colum;

        .texto-mobile-titulo{
            display: none;
        }
    }

    .historia{
        margin: 20px;
        display: flex;
        flex-direction: column;
        gap: 200px;
        

        .texto{
            background-color: $fondo-claro;
            margin-top: 10px;
            display: inline-block;
            margin-bottom: 10px;
            border-radius: 5px;
            width: 550px;
            height: 200px;
            }

        .alineado{
            align-content: center;

            .foto{
                width: 550px;
                height: 400px;
                }
            }
        .year{
            font-size: 100px;
            }
    }
}
