/* perfil */

main{
    background-image: url(../imagenes/fondo-mobile-perfil.avif);
    background-attachment: fixed;
    .portada{
        background-image: url(../imagenes/fondo-mat.jpg);
        @extend %flex-centrado;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 20px;

        .portada__nombre{
            background-color: $fondo-claro;
            margin: 10px;
            border-radius: 5px;
        }

        .portada__fotoperfil{
            width: 200px;
            height: 200px;
            border-radius: 100px;
        }
    }
}

section{
        .carrusel-perfil{
            display: none;
        }
}

.fotos{
    display: flex;
    justify-content: space-between;
    margin: 50px;

    .fotos__clase{
        margin: 10px;
        height: 200px;
        width: 300px;
    }
}

.info__perfil{
    display: flex;
    gap: 20%;


    .padre__info__descripcion{
        @extend %flex-centrado;
        align-items: center;
        width: 500px;
        height: 230px;
        margin-top: 50px;

        .info__descripcion{
            background-color: $fondo-claro;
            border: 3px solid black;
            padding: 10px;
            border-radius: 5px;
        }
    }

    .iframe-perfil-media{
        border: 3px solid black;
        border-radius: 20px;
        height: 400px;
        width: 600px;
        margin-left: 10px
        
    }
}

.info{
    @extend %flex-centrado;
    gap: 200px;
    padding-top: 50px;
    padding-bottom: 50px;

    .mobile-imagen-redes{
        width: 60px;
        height: 60px;
    }
}