/* perfil */

main{
    .portada{
        background-image: url(../imagenes/fondo-mat.jpg);
        @extend %flex-centrado;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 20px;

        .portada__nombre{
            background-color: $fondo-claro;
            margin: 10px;
            border-radius: 5px;
        }

        .portada__fotoperfil{
            width: 200px;
            height: 200px;
            border-radius: 100px;
        }
    }
}

section{
        .carrusel-perfil{
            display: none;
        }
}

.fotos{
    display: flex;
    justify-content: space-between;
    margin: 50px;

    .fotos__clase{
        margin: 10px;
        height: 200px;
        width: 300px;
    }
}

.info__perfil{
    display: grid;
    grid-template-columns: 65% 35%;

    p{
        border-radius: 5px;
    }

    .padre__info__descripcion{
        @extend %flex-centrado;
        align-items: center;

        .info__descripcion{
            background-color: $fondo-claro;
            height: 230px;
        }
    }

    .iframe-perfil-media{
        border-radius: 20px;
        height: 400px;
        width: 600px;
        padding-left: 200px;
    }
}

.info{
    display: flex;
    gap: 80px;
    margin-left: 280px;
    margin-bottom: 30px;
    

    .info__redes{
        background-color: $fondo-claro;
        text-align: center;
        margin-top: 43px;
        border-radius: 5px;
    }

    .mobile-imagen-redes{
        display: none;
    }
}