/* postulate */
    
.postulate-main{
    padding: 100px;
    background-image: url(../imagenes/fondo-psotulate.jpg.png);
    background-size: map-get($backgr, b-z );
    background-attachment: unset;
        .titulo-postulate{
            padding-bottom: 30px;
            width: 600px;
            font-family: 'Roboto', sans-serif;
            }
        .postulate-mobile{
            display: none;
        }
        .form{
            display: flex;
            flex-direction: column;
            width: 500px;
    
                .certificado-postulate{
                padding-bottom: 20px;
                }
                .name{
                    background-color: orange;
                    width: 200px;
                    align-self: center;
                }
                .contanos{
                    background-color: pink;
                    width: 350px;
                    align-self: center;
                }
                .mail{
                    background-color: $color-primario;
                    width: 200px;
                    align-self: center;
                }
                .enviar{
                    width: 150px;
                    align-self: center;
                    margin-top: 50px;
                }
        }
    }