/* postulate */
    
.postulate-main{
    padding: 100px;
    background-image: url(../imagenes/fondo-psotulate.jpg.png);
    background-size: cover;
        .titulo-postulate{
            padding-bottom: 30px;
            width: 600px;
            font-family: 'Roboto', sans-serif;
            }
        .form{
            display: flex;
            flex-direction: column;
            width: 500px;
    
                .certificado-postulate{
                padding-bottom: 20px;
                }
        }
    }