@media only screen and (max-width: 576px) {
    
    /* footer*/

    footer {
      display: grid;
      justify-items: center;
      grid-template-rows: 1fr 30px 1fr 60px;
      grid-gap: 5px;
      iframe {
        margin-top: 10px;
        grid-row: 1;
      }

      .wtsig {
        grid-row: 2;
      }

      ul {
        grid-row: 3;
      }

      p {
        grid-row: 4;
      }
    }

    /*header*/

    header{

        .borde{
            border: 0px;
        }
    }

    /*index*/

    .intro__presentacion {
      display: none;
    }

    .fondo{
        max-height: 200px;
        background-position: center;
        h1{
          font-size: 20px;
        }
    }

    .carousel {
      width: 450px;
      &-item img {
        max-height: 380px;
        border: 1px solid black;
      }
    }

    .descripcion {
      display: none;
    }

    .tamano-carrusel {
      width: 600px;
    }

    /*matematicas*/

    main .mate {
        padding: 50px;
      }
      main .mate .mate-textos {
        padding-bottom: 25px;
      }
      main .mate .mate-textos .mate__titulo {
        font-size: 30px;
        margin-left: 120px;
        margin-top: 20px;
        text-align: center;
      }
      main .mate .mate-textos .mate__subtitulo {
        display: none;
      }

      .titulo-postulate {
        width: 100%;
        font-size: 24px;
        text-align: center;
        max-width: 100vw;
      }

      /*postulate*/

      .form {
        width: 100%;
        max-width: 100vw;
      }

      .postulate-main {
        background-image: url(../imagenes/fondo-postulate.jpg);
        max-width: 100vw;
        margin-right: 0px;
        padding-left: 0px;
      }

      /*perfil*/
      
      .fondo-mobile-perfil{
        background-image: url(../imagenes/fondo-mobile-perfil.avif);
        background-attachment: fixed;
      }

      .grilla-perfil-media{
        display: flex;
        flex-direction: column;
        .fotos{
            display: none;
        }
        .carrusel-perfil{
            display: block;
            padding-top: 20px;
            .carousel-item{
              width: 300px;
              height: 300px;
            }

        }
        .info__perfil{
          display: flex;
          gap: 0px;
          padding-top: 20px;
            .iframe-perfil-media{
                width: 200px;
                height: 248px;
                padding-left: 0px;
            }
            .padre__info__descripcion{
              border: 1px solid black;
              background-color: aliceblue;
                .info__descripcion{
                    font-size: 16px;
                    margin-bottom: 5px;
                }
            }
        }
        .info{
          display: flex;
          margin-left: 90px;
          .mobile-imagen-redes{
            background-color: aliceblue;
            display: block;
            margin-top: 20px;
            margin-left: 10px;
            width: 45px;
            height: 45px;
          }
          .info__redes{
            display: none;
          }
        }
      }
    /*nuestra historia*/

    .quienes{
      .quienes-titulo{
        .texto.mobile-titulo{
          display: block;
        }
      }
      .historia{
        display: none;
      }
      .mobile__historia{
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        .año-mobile{
          font-size: 60px;
          background-color: rgb(116, 178, 191);
          border-radius: 100%;
        }
        .foto-mobile{
          width: 250px;
          height: 250px;
          border-radius: 100%;
        }
        .texto-mobile{
          border: 2px solid black;
          border-radius: 10px;
        }
      }
    }

  }
